
<div>
    {{enter-nickname nickname=nickname}}
</div>

<div>
    <button class="create-game" {{action "create"}}>Create</button>
</div>
<div>
    <button class="join-game" {{action "join"}}>Join</button>
</div>

{{outlet}}
