
<div>
    {{enter-nickname nickname=nickname}}
</div>

<div>
    <button class="create-game" {{action "create"}}>Create</button>
</div>
<div>
    {{#link-to "join"}}
        Join
    {{/link-to}}
</div>

{{outlet}}
