@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@import 'components/agent-down-header.scss';
@import 'components/agent-down-footer.scss';
@import 'controllers/index.scss';


* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

.controller {
    top: 0;
    bottom: 0;
}


