# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/app/dist
/src/app/tmp

# dependencies
/src/app/node_modules
/src/app/bower_components

# misc
/src/app/.sass-cache
/src/app/connect.lock
/src/app/coverage/*
/src/app/libpeerconnection.log
npm-debug.log
testem.log

# go
/src/server/bin
/src/server/pkg

# IntelliJ
.idea
*.iml

# Keys
*.pem

# Deploy script
Makefile
