# compiled output
/src/browser/dist
/src/browser/tmp

# dependencies
/src/browser/node_modules
/src/browser/bower_components

# misc
/src/browser/.sass-cache
/src/browser/connect.lock
/src/browser/coverage/*
/src/browser/libpeerconnection.log
npm-debug.log
testem.log

# go
/src/golang/bin
/src/golang/pkg

# deploy things
/deploy

# IntelliJ
.idea
*.iml

# Vim
*.swp
