{{#each games as |g|}}
    {{joinable-game-list/joinable-game game=g action="joinGame"}}
{{else}}
    <div class="no-games">
        <div class="icon"></div>
        <p>Cannot find any games to join</p>
    </div>
{{/each}}

{{yield}}
