<a {{action "click" }}>
    <div class="title">
        <i class="fa fa-arrow-right" />
        <i class="fa fa-arrow-down" />
        <span>{{yield title}}</span>
    </div>
    <div class="content">
        {{yield content}}
    </div>
</a>

