div.header {
    background-image: url('http://s3-us-west-2.amazonaws.com/agent-down-images/assets/header.svg');
    background-color: white;
    background-repeat: no-repeat;
    height: 50px;
    background-size: contain;
    text-align: right;

    p {
        top: 25%;
        position: relative;
        margin-right: 25px;
        font-size: 2em;
        text-transform: lowercase;
    }
}
    
