div.collapsible-div.hide {
    div.content {
        display: none;
    }
    i.fa-arrow-down {
        display: none;
    }
    i.fa-arrow-right {
        display: inline;
    }
}

div.collapsible-div {
    a {
        display: block;
        cursor: pointer;
    }

    i.fa-arrow-right {
        display: none;
    }
    i.fa-arrow-down {
        display: inline;
    }
}
