.guess-location-list {
    .guess-location-location {
        margin-top: 5px;

        .location-image {
            height: 250px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .collapsible-div .title  {
            margin-left: 15px;

            span {
                font-size: 1.5em;
            }
        }

        span.location-title {
            font-size: 1.5em;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .collapsible-div .content {
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
        }
    }
}
