<div>
    <div>
        <span>{{location.name}}</span>
        <button {{action 'click' location}}>Guess!</button>
    </div>
    <div>
        <img src={{location.image}} height="300" width="300"/>
    </div>
</div>
{{yield}}
