div.index {
    font-size: 185%;
    margin-left: 10px;
    margin-right: 10px;
    background: url(http://s3-us-west-2.amazonaws.com/agent-down-assets/assets/header.svg) no-repeat;
    background-size: 300px 240px;
    background-position-x: 10%;

    div.index-push-top {
        height: 185px;
        margin-top: -40px;
    }

    div.index-push-bottom {
        height: 50px;
    }

    div.codename {
        margin-top: 10px;

        input {
            background: transparent;
            border: 1px solid silver;
            @include border-radius(5px);
            font-weight: bold;
            width: 100%;
            margin-top: 10px;
        }
    }

    .buttons-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    div.create-game,div.join-game {
        margin-top: 5px;
        display:inline-block;
        width: 45%;

        button {
            width: 100%;
            font-size: 3vw;
        }
    }

    div.welcome-main {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 50%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    div.welcome-push-top {
        width: 100%;
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    div.welcome-push-bottom {
        width: 100%;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    div.welcome-intro {
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-width: 200px;
        font-size: 60%;
        border: 1px solid grey;
        padding: 10px;
        background: rgba(255,255,255,0.75);
        box-shadow: 1px 1px 1px 1px rgba(200,200,200,0.75);
    }

    p.welcome-intro {
        position: relative;
    }

    button.view-rules {
        margin-top: 5px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

