<h1>Active</h1>

{{game-time clock=clock}}

{{game-location location=gameState.game.location isSpy=gameState.player.isSpy viewLocations="viewLocations"}}

{{active-player-list players=gameState.game.players me=gameState.player gameState='inProgress' action="accuse"}}

{{outlet}}
