<h1>Active</h1>

{{game-time time=gameState.game.secondsRemaining}}

{{game-location location=gameState.game.location}}

{{active-player-list players=gameState.game.players me=gameState.player}}

{{outlet}}
