<h1>Active</h1>

{{game-time time=gameState.game.secondsRemaining}}

{{game-location location=gameState.game.location isSpy=gameState.player.isSpy}}

{{active-player-list players=gameState.game.players me=gameState.player action="accuse"}}

{{outlet}}
