<div class="active-game">
    {{game-time clock=clock}}

    {{active-player-list players=gameState.game.players me=gameState.player gameState='inProgress' action="accuse"}}

    {{game-location location=gameState.game.location isSpy=gameState.player.isSpy viewLocations="viewLocations"}}


{{outlet}}
</div>
