<div class="enter-join-code">
    <span>
        {{input placeholder="Enter join code" value=joinCode}}
        <button class="confirm-join-code" {{action 'click'}}>Join</button>
    </span>
</div>

{{yield}}
