<div>
    <span class="result-location-name">
        The real location was: 
        <span class="location-name">{{location.name}}</span>
    </span>
</div>
<div class="result-location-image" style="background-image: url({{location.image}})" /> 
{{yield}}
