div.how-to-play {
    p {
        margin-top: 5px;
        margin-left: 15px;
    }
    h4 {
        margin-top: 5px;
        margin-left: 10px;
    }
    button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
