div.how-to-play {
    .collapsible-div .title {
        padding-top: 5px;
        padding-left: 10px;
        font-size: 2em;
    }
    .collapsible-div .content {
        padding-top: 5px;
        margin-left: 15px;
        font-size: 1.15em;
    }
    button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
